.main1 #form2 #firstname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	height: 22px;
	width: 215px;
	margin: 2px;
	padding: 2px;
}
.main1 #form2 #lastname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	height: 22px;
	width: 215px;
	margin: 2px;
	padding: 2px;
}
.main1 #form2 #email {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	height: 22px;
	width: 215px;
	margin: 2px;
	padding: 2px;
}
.main1 #form2 #phone {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	height: 22px;
	width: 215px;
	margin: 2px;
	padding: 2px;
}
.main1 #form2 #password {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	height: 22px;
	width: 215px;
	margin: 2px;
	padding: 2px;
}