<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CABMGMT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.ibm.controllers.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.ibm.controllers.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServletCab</display-name>
    <servlet-name>AdminServletCab</servlet-name>
    <servlet-class>com.ibm.controllers.AdminServletCab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServletCab</servlet-name>
    <url-pattern>/AdminServletCab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServletDriver</display-name>
    <servlet-name>AdminServletDriver</servlet-name>
    <servlet-class>com.ibm.controllers.AdminServletDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServletDriver</servlet-name>
    <url-pattern>/AdminServletDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidation</display-name>
    <servlet-name>UserValidation</servlet-name>
    <servlet-class>com.ibm.controllers.UserValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidation</servlet-name>
    <url-pattern>/UserValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidation</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>com.ibm.controllers.AdminValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.ibm.controllers.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usertraveldetailservlet</display-name>
    <servlet-name>usertraveldetailservlet</servlet-name>
    <servlet-class>com.ibm.controllers.usertraveldetailservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usertraveldetailservlet</servlet-name>
    <url-pattern>/usertraveldetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTravelDetailServlet</display-name>
    <servlet-name>UserTravelDetailServlet</servlet-name>
    <servlet-class>com.ibm.controllers.UserTravelDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTravelDetailServlet</servlet-name>
    <url-pattern>/UserTravelDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrentLocation</display-name>
    <servlet-name>CurrentLocation</servlet-name>
    <servlet-class>com.ibm.controllers.CurrentLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentLocation</servlet-name>
    <url-pattern>/CurrentLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverValidation</display-name>
    <servlet-name>DriverValidation</servlet-name>
    <servlet-class>com.ibm.controllers.DriverValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverValidation</servlet-name>
    <url-pattern>/DriverValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTravel</display-name>
    <servlet-name>UserTravel</servlet-name>
    <servlet-class>com.ibm.controllers.UserTravel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTravel</servlet-name>
    <url-pattern>/UserTravel</url-pattern>
  </servlet-mapping>
</web-app>